.dashboard-bg {
    background-image: url('../images/grilled-chicken.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.restaurant-bg {
  background-image: url('../images/gourmet2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .restaurant-bg::before {
  content: "";
  background-image: url("../images/grilled-chicken.png");
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

hr {
    border: none;
    border-top: 2px solid red;
    /* margin: 10px 0; */
    text-align: center;
    width: 120px;
    margin: 0 auto;
  }

.small-hr {
    border: none;
    border-top: 1px solid red;
    /* margin: 10px 0; */
    text-align: center;
    width: 80px;
    margin: 0 auto;
  }



.darkSecondary{
  background-color: #101625;
}

.swal-confirm{
  background-color: rgba(218, 0, 0, 1);
  color: white;
}

/* .dashboard-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  } */

  